// GLOBAL

html {
  box-sizing: border-box;
}

*, *:before, *:after, input[type="search"] {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background: $primary-color url(../graphics/layout/main-bg.svg) -48vw top no-repeat;
  background-size: cover; 
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  min-width: $row-min-width;
  @extend .antialiased;
}

// Links

a {
  cursor: pointer;
  color: #fff;
  text-decoration: underline;
  transition: opacity 0.2s ease 0s;
  @include transform(translateZ(0));
}

a:visited {
  color: #fff;
}

a:hover {
  opacity: 0.64;
  outline: none;
}

a:active{
  outline: none;
  @include transform(translate(0, 1px));
}


// Rows

.row {
  @extend .clearfix;
  padding-left: $inner-pad;
  padding-right: $inner-pad;
  @include media(small-up) {
    padding-left: $inner-pad*2;
    padding-right: $inner-pad*2;
  }
  @include media(xlarge-up) {
    padding-left: $inner-pad*4;
    padding-right: $inner-pad*4;
  }
}

.centered {
  max-width: $row-max-width;
  margin-left: auto;
  margin-right: auto;
}


// SITE HEADER

#site-header {
  @extend .row;
  @extend .centered;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-weight: $base-font-bold;
  @include media(small-up) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @include media(medium-up) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

#site-title {
  position: relative;
  font-size: 2rem;
  line-height: 1;
  padding-top: 3.2%;
  margin: 0;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    @include transform(translate(-50%, 0));
    width: 12%;
    height: 10%;
    max-width: 10rem;
    background: #fff;
  }
  @include media(small-up) {
    font-size: 3rem;
  }
  @include media(medium-up) {
    font-size: 4rem;
  }
  @include media(large-up) {
    font-size: 5rem;
  }
  @include media(xlarge-up) {
    font-size: 6rem;
  }
}

#site-description {
  font-size: 1rem;
  margin: 1rem 0 0 0;
  @include media(small-up) {
    font-size: 1.25rem;
  }
  @include media(medium-up) {
    font-size: 1.5rem;
  }
}

#site-actions {
  margin: 2rem 0 0 0;
  small {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: $base-font-weight;
    text-transform: none;
    margin-top: 0.5rem;
    opacity: 0.64;
  }
}

.button-download {
  display: inline-block;
  background: #fff;
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: center;
  padding: 0 1rem;
  width: 12rem;
  text-decoration: none;
  color: $primary-color;
  @include media(small-up) {
    line-height: 3rem;
    font-size: 1.25rem;
  }
}


// STRIPES

.stripe {
  @extend .row;
  @extend .centered;
  margin-bottom: 3rem;
  @include media(medium-up) {
    margin-bottom: 4rem;
  }
}

.stripe-title {
  @include heading(1.25rem, xlarge-up);
  text-transform: uppercase;
  font-weight: $base-font-bold;
  text-align: center;
  position: relative;
  padding-top: 1%;
  margin-bottom: 1.5rem;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    @include transform(translate(-50%, 0));
    height: 8%;
    width: 8%;
    max-width: 4rem;
    background: #fff;
  }
  .showcase & {
    @extend .visually-hidden;
  }
  @include media(small-up) {
    margin-bottom: 2rem;
  }
}

.stripe-content {
  @include span-columns(12 of 12);
  @include media(small-up) {
    @include span-columns(10 of 12);
    @include shift(1);
  }
  @include media(large-up) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}

.showcase-list {
  margin: 0;
  padding: 0;
  @extend .clearfix;
  text-align: center;
  word-spacing: -0.26rem;
  li {
    display: inline-block;
    word-spacing: normal;
    margin: 0.5rem;
  }
  a {
    display: block;
    background: rgba(#fff, 0.16);
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
    text-align: center;
    text-decoration: none;
    &:hover {
      opacity: 1;
    }
    .label {
      @extend .visually-hidden;
    }
  }
}


// SITE FOOTER

#site-footer {
  @extend .row;
  @extend .centered;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  opacity: 0.64;
  font-size: 0.875rem;
  line-height: 1.25rem;
  .collecticon {
    font-weight: normal;
    vertical-align: middle;
    font-size: 1rem;
    span {
      @extend .visually-hidden;
    }
  }
}


// TITLED

*[data-title]:hover {
  position: relative;
  &:after {
    content: attr(data-title);
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 1400;
    width: auto;
    max-width: 12rem;
    padding: 0 0.5rem;
    background: rgba($base-color, 0.8);
    margin-top: 0.25rem;
    @include transform(translate(-50%, 0));
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    @extend .truncated;
    text-align: center;
    @extend .antialiased;
    font-family: $base-font-family;
    font-weight: $base-font-regular;
    font-style: $base-font-style;
  }
}