<!doctype html>
<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="The open collection of aerial imagery." />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

    <title>Collecticons</title>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@developmentseed" />
    <meta name="twitter:title" content="Collecticons">
    <meta name="twitter:description" content="An evergrowing collection of crisp icons." />
    <meta name="twitter:image:src" content="assets/graphics/meta/default-meta-image.png" />
    <!--/ Twitter --> 

    <!-- OG -->
    <meta property="og:site_name" content="Collecticons" />
    <meta property="og:title" content="Collecticons" />
    <meta property="og:url" content="http://devseed.com/collecticons/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="An evergrowing collection of crisp icons." />
    <meta property="og:image" content="assets/graphics/meta/default-meta-image.png" />
    <!--/ OG -->

    <link rel="shortcut icon" href="assets/graphics/meta/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="assets/graphics/meta/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="assets/graphics/meta/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="assets/graphics/meta/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/graphics/meta/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="assets/graphics/meta/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="assets/graphics/meta/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="assets/graphics/meta/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="assets/graphics/meta/apple-touch-icon-152x152.png" />
    <link rel="author" type="text/plain" href="humans.txt" />

    <!-- build:css assets/styles/main.css -->
    <link rel="stylesheet" href="assets/styles/main.css">
    <!-- endbuild -->

  </head>
  <body>

    <div id="site-canvas"><!-- Content via javascript --></div>

    <script id="page-template" type="text/template" class="template">
      <header id="site-header" role="banner">
        <h1 id="site-title">Collecticons</h1>
        <p id="site-description">An evergrowing collection of crisp icons.</p>
        <p id="site-actions"><a href="collecticons.zip" title="Get the icons!" class="button-download"><span>Download</span></a> <small>V<%= version %> / <%= icons.length %> icons</small></p>
      </header>
      <main id="site-body" role="main">
        <section class="stripe showcase">
          <h2 class="stripe-title">Showcase</h2>
          <ul class="showcase-list">
            <% icons.forEach(function(i) { %>
              <li><a href="#" data-hook="icon-link" data-title="<%= i.icon.replace('collecticon-', '') %>"><span class="label"><%= i.icon %></span><span class="collecticon <%= i.icon %>"></span></a></li>
            <% }) %>
          </ul>
        </section>
        <section class="stripe usage">
          <h2 class="stripe-title">Usage</h2>
          <div class="stripe-content prose">
            <h3>Adding to your project as a webfont</h3>
            <ol>
              <li><p><a href="/collecticons.zip" title="Get the icons!">Download Collecticons</a> and copy the <code>font</code> folder and <code>icons.css</code> file into your project. This example assumes you've copied these into the root directory.</p></li>
              <li>
                <p>Link to the <code>icons.css</code> stylesheet in the <code>&lt;head&gt;</code> of your <code>&lt;html&gt;</code> page:</p>
                <div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"/icons.css"</span><span class="nt">&gt;</span></code></pre></div>
              </li>
              <li>
                <p>Simply use an icon in your HTML page:</p>
                <div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"collecticon collecticon-house"</span><span class="nt">&gt;&lt;/span&gt;</span></code></pre></div>
              </li>
            </ol>
            <p>If you choose to separate the font files from the CSS files, be sure to update the links in <code>icons.css</code>.</p>
            <p>Collecticons look best in sizes that are multiples of <strong>16px</strong>.</p>

            <h3>Advanced usage</h3>
            <p>If you're only interested in a webfont with a smaller set of icons you can manually generate it using our <code>collecticons</code> command line util.</p>
            <p>This util will also allow you to generate a sass file to use semantic styling.</p>
            <p>Check the <a href="https://github.com/developmentseed/collecticons-processor" title="View collecticons command line util">collecticons processor</a> repo for usage instructions.</p>
          </div>
        </section>
        <section class="stripe about">
          <h2 class="stripe-title">About</h2>
          <div class="stripe-content prose">
          <p>We at <a href="https://developmentseed.org" title="Visit Development Seed website">Development Seed</a> use iconography in a lot of projects. Some of the icons were designed/built on top of libraries like <a href="https://github.com/Keyamoon/IcoMoon-Free" title="View icoMoon webfont">icoMoon by Keyamoon</a> and others were made in house. This evergrowing collection is a set of the icons we've been using so far and are now available for free under the <a href="https://github.com/developmentseed/collecticons/blob/master/LICENSE" title="View license">The MIT License</a>.
          <p>If you feel like contributing to this library checkout our <a href="https://github.com/developmentseed/collecticons-lib" title="View collecticons icon library">collecticons library</a> repo and submit a pull request.</p>
          </div>
        </section>
      </main>
      <footer id="site-footer" role="contentinfo">
        <p>Made with <strong class="collecticon collecticon-heart-full"><span>love</span></strong> by <a href="https://developmentseed.org" title="Visit Development Seed website">Development Seed</a>.</p>
      </footer>
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js assets/scripts/bundle.js -->
    <script src="assets/scripts/vendor.js"></script>
    <script src="assets/scripts/bundle.js"></script>
    <!-- endbuild -->
</body>
</html>
